
$icon-size: 48px;
$icon-mid-size: $icon-size / 2;
$icon-border-radius: 7px;

.icon {
    .icon-wrapper {
        padding: $icon-mid-size;
        background: $primary-color-dark;
        margin: $icon-mid-size 0;
        display: inline-block;
        border-radius: 1px;
        position: relative;
        color: white;
        z-index: 1;

        @include transition(background 0.2s);

        &:after {
            content: '';
            pointer-events: none;
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 1px;
            top: -$icon-border-radius;
            left: -$icon-border-radius;
            padding: $icon-border-radius;
            box-shadow: 0 0 0 4px $primary-color;
            opacity: 0;
            box-sizing: content-box;
            
            @include transition(transform 0.2s, opacity 0.2s);
            @include transform(scale(0.8));
        }

        i {
            font-size: $icon-size;
            width: $icon-size;
        }
    }

    &:hover {
        .icon-wrapper {
            background: $primary-color;

            &:after {
                opacity: 1;
                
                @include transform(scale(1));
            }
        }
    }
}

@font-face {
    font-family: 'Pe-icon-7-stroke';
    src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
    src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
        url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
        url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
        url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}
