
.panel-custom {
	background: transparent;
	text-align: left;

	.panel-heading {
		padding: 15px;
		background: transparent;
		border: 3px solid $primary-color;
		font-weight: bold;
		border-radius: 3px;
	}

	.panel-body {
		border-top: 0 !important;
	}
}
