
.thumbnail {
	background: transparent;
	border: 1px solid transparent;

	h3 {
		margin-top: 24px;
	}
}

.galery {
    width: 100%;
    overflow: hidden;

    img {
        opacity: 0.2;
    }

    h2 {
        font-family: "Montserrat", Arial;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em 1.5em;
        width: 100%;
        text-align: left;
        color: white;
        @include transform(translate3d(0,-30px,0));
    }

    .item {
        height: 300px;
        overflow: hidden;
        background: #212121;
        @include transition(background 0.35s);
    }

    h2,
    .caption::before {
        @include transition(transform 0.35s);
    }

    :hover {
        .item {
            background: $primary-color-dark;
        }

        h2,
        .caption::before {
            opacity: 1;
            @include transform(translate3d(0,0,0));
        }
    }

}
