
a.card {
	background-color: #F9F9F9;
	transition: all 0.3s;
	margin-bottom: 0;
	margin-top: 2rem;
	
	.card-text {
		color: $primary-text-color;
	}

	&:hover {
		border-color: $primary-color;
		text-decoration: none;
	}
}
