
.card {
	display: block;
	text-align: center;
	margin-bottom: 60px;

	.card-icon {
		padding: 15px;
		font-size: 30px;
		background-color: #DDDDDD;
		width: 60px;
		border-radius: .25rem;
	}

	.card-title {
		margin: 10px 0;
		font-weight: bold;
		color: $primary-text-color;
		text-transform: uppercase;
	}
	
	.card-text {
		color: $secondary-text-color;
		text-align: justify;
	}

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
