
section {
    padding: 80px 15px;
    text-align: justify;

    h1 {
        text-align: center;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: bold;
        font-size: 2rem;

        span {
            font-family: "Satisfy", cursive;
            font-weight: normal;
            text-transform: lowercase;
            font-size: 1.5rem;
            display: block;
            margin: 5px 0;
        }
    }

    h2 {
        color: $primary-color;
        font-size: 1.5rem;
    }

    footer {
        margin-top: 50px;
        margin-bottom: -50px;
    }

    &:nth-child(even) {
        background-color: $section-color-dark;
    }

    &:nth-child(odd) {
        background-color: $section-color-light;
    }
}

