section.row#about
    h1 <span>sobre</span> DETALHES PROFISSIONAIS
    div.container
        .row
            .col-xs-12
                p Sou técnico em informática pelo Instituto Federal Farroupilha, onde aprendi novos conceitos e encontrei o caminho do desenvolvedor. Como autodidata e um apreciador de novos conhecimentos busco sempre aprender e me atualizar, não me contendo com solucionar um problema, mas sim solucionar ele da melhor maneira.
                p Atualmente cursando Sistemas de Informação pela Universidade Federal de Santa Maria, venho refinando em forma teórica todos os conceitos que já carrego de meus estudos práticos, aprendendo novos conceitos que estão me tornando um profissional cada dia melhor.
                p Trabalho como freelancer e bolsista em projetos ligados ao desenvolvimento de software na universidade, tenho maestria no desenvolvimento de aplicações web complexas, e total segurança para afirmar que posso agregar valor a uma equipe, não me retenho ao comodismo e estou sempre buscando a excelência em meu trabalho.
                a.btn.btn-primary.m-t-sm(href="/alex-rohleder.curriculum.pdf") Fazer Download do meu Currículo
