
section.row#blog
    h1 <span>blog</span> LATEST POSTS
    .container
        .row
            .col-xs-12.col-md-4
                .card
                    img.card-img-top.img-responsive(src="assets/img/imac1.png")
                    .card-block
                        a(href="#")
                            h4.card-title Lorem Ipsum
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        p.card-text
                            small.text-muted Posted in <a href="#">Webdesign</a> on October 5, 2015
            .col-xs-12.col-md-4
                .card
                    img.card-img-top.img-responsive(src="assets/img/imac1.png")
                    .card-block
                        a(href="#")
                            h4.card-title Lorem Ipsum
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        p.card-text
                            small.text-muted Posted in <a href="#">Webdesign</a> on October 5, 2015
            .col-xs-12.col-md-4
                .card
                    img.card-img-top.img-responsive(src="assets/img/imac1.png")
                    .card-block
                        a(href="#")
                            h4.card-title Lorem Ipsum
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        p.card-text
                            small.text-muted Posted in <a href="#">Webdesign</a> on October 5, 2015
