
section.row.text-center.bg-primary#contact
    h1 <span>contato</span> ENTRE EM CONTATO COMIGO
    div.container
        p Você também pode me ligar pelo número #[a(href="tel:5581557066", title="Ligar")="(55) 8155-7066"], me contatar pelo e-mail #[a(href="mailto:alexrohleder96@outlook.com", title="Enviar um e-mail")="alexrohleder96@outlook.com"] ou preencher o formulário abaixo.
        p Caso tenha alguma dúvida sobre como tudo funciona, você pode ver rapidamente a #[a(href="/faq", title="Descubra como tudo funciona")="seção de perguntas frequentes"].
        div.m-t-lg.m-b-lg
            div.d-t
                form.ar-form(autocomplete="off", novalidate)
                    ol.questions
                        li.question.current
                            span: label(for="contact-name")="Qual o seu nome?"
                            input(id="contact-name", name="contact-name", type="text", required)
                        li.question
                            span: label(for="contact-email")="E seu e-mail?"
                            input(id="contact-email", name="contact-email", type="email", required)
                        li.question
                            span: label(for="contact-message")="Sua mensagem:"
                            input(id="contact-message", name="contact-message", type="text", required)
                    button.next: div.arrow
                    div.progress: div.progress-bar
                    div.error &nbsp;
                    div.count.
                        #[span.itr="1"]/#[span.total="3"]
                h1
        p &copy;2015 Alex Rohleder Todos os Direitos Reservados
