section.row#experiense
    h1 <span>experiências</span> QUE EU VIVENCIEI
    div.container
        .row
            .col-xs-12.col-md-6
                h2.m-b-lg Educacional
                div.history.row
                    div.data.col-xs-12.col-md-5
                        div.date
                            h4 <small>Fevereiro</small> 2011
                            strong -
                            h4 <small>Dezembro</small> 2013
                        div.name
                            h4 IFF¹ <small>Técnico em Informática</small>
                    div.description.col-xs-12.col-md-7.
                        Desenvolve programas de computador, seguindo as especificações e paradigmas da lógica de programação e das linguagens de programação. Utiliza ambientes de desenvolvimento de sistemas, sistemas operacionais e banco de dados.        
                div.history.row
                    div.data.col-xs-12.col-md-5
                        .date
                            h4 <small>Agosto</small> 2014
                            strong -
                            h4 <small></small> Atual
                        div.name
                            h4 UFSM² <small>Sistemas de Informação</small>
                    div.description.col-xs-12.col-md-7.
                        Qualifica para o projeto e construção de softwares e serviços computacionais e também para o uso de sistemas computadorizados em outras áreas da atividade humana, a fim de viabilizar ou aumentar a produtividade e a qualidade de todos os tipos de procedimentos.        
            .col-xs-12.col-md-6
                h2.m-b-lg Profissional
                div.history.row
                    div.data.col-xs-12.col-md-5
                        div.date
                            h4 <small>Fevereiro</small> 2015
                            strong -
                            h4 <small></small> Atual
                        div.name
                            h4 UFSM² <small>Desenvolvedor Web</small>
                    div.description.col-xs-12.col-md-7.
                        Desenvolve juntamente a uma equipe, um sistema de gestão e agregação de informações para o hospital universitário de Santa Maria. Onde Médicos e servidores da universidade fazem uso para automação de tarefas que antes eram totalmente no papel.

        footer <small>1: Instituto Federal de Educação, Ciência e Tecnologia Farroupilha. 2: Universidade Federal de Santa Maria.</small>