
section.row#portfolio
    h1 <span>portfolio</span> COM ALGUNS TRABALHOS
    div.container
        div.text-center
            button.btn.btn-primary-outline.m-b-sm.m-r-sm.active(data-items=".filter-items", data-type="*") Tudo
            each tag in tags
                button.btn.btn-primary-outline.m-b-sm.m-r-sm(data-items=".filter-items", data-type=tag.id)=tag.name
        ul.filter-items
            each project in projects
                li.filter-item.col-xs-12.col-md-4(data-type=project.tag)
                    figure
                        img(src="img/" + project.slug + ".png")
                        figcaption
                            a(href=project.url, target="_blank")
                            h1=project.name
                            //p Veja mais sobre o processo de desenvolvimento.
