
section.row#services
    h1 <span>serviços</span> DE EXCELÊNCIA QUE OFEREÇO
    div.container
        div.row
            div.col-xs-12.text-center.m-b-sm
                button.m-b-sm.m-r-sm.btn.btn-primary-outline.active(data-tab="#services-criacao-de-sites") Criação de Sites
                button.m-b-sm.m-r-sm.btn.btn-primary-outline(data-tab="#services-desenvolvimento-de-sistemas") Desenvolvimento de Sistemas
                button.m-b-sm.m-r-sm.btn.btn-primary-outline Aplicações Mobile
                button.m-b-sm.m-r-sm.btn.btn-primary-outline Hospedagem
        div.row.tab-content.m-t-sm
            div.col-xs-12.active#services-criacao-de-sites
                p Tenha seu site nos mais altos padrões do mercado, com total <b>suporte pós entrega</b> e atualizações que não afetem a estrutura do projeto, <b>certificado SSL</b> para conexões seguras com HTTPS, <b>10 contas de e-mail</b>, alto desempenho com serviços mundialmente conhecidos para otimização do carregamento, <b>responsividade a qualquer dispositivo</b>, testado nos mais populares navegadores, <b>design único e impecável</b>, possibilidade de integração de <b>conteúdo dinâmico</b> e com <b>ótimo custo benefício</b>.
                p <a href="">Peça um orçamento gratuíto</a> ou <a href="">mais informações</a>.
            div.col-xs-12#services-desenvolvimento-de-sistemas
                p 
                p <a href="">Peça uma avaliação gratuíta</a> ou <a href="">mais informações</a>.
        footer <small> Alguma dúvida sobre como funciona o processo de desenvolvimento? Você pode <a href="" title="Veja como funciona o processo de desenvolviment">ver como ele funciona aqui</a>.
