
section.row#skills
    h1 <span>habilidades</span> QUE EU ME ORGULHO
    div.container
        div.row.text-left
            div.col-xs-12.col-md-6
                ul.progress-list
                    each skill in skills
                        li.progress-title=skill.progress+"% em "+skill.name
                        li.progress-progress
                            div.progress
                                div.progress-bar(style="width: "+skill.progress+"%;")
            div.col-xs-12.col-md-6
                h2 Ferramentas que Utilizo
                p Durante os anos em que trabalhei com estas tecnologias acabei por me adaptar com alguns de seus recursos e ferramentas, você pode acompanhar uma lista das principais utilizadas frequêntemente logo abaixo.
                each link, resource in resources
                    a.btn.btn-sm.btn-primary-outline.m-r-sm.m-b-sm(href=link, title="Veja mais sobre "+resource, target="_blank")=resource
