
h2 Resumo
h1 DA MINHA CARREIRA

.container
    .row
        .col-xs-12.col-md-6
            h3.text-left.featured Educação
            .row
                .col-xs-12.item
                    .row
                        .col-xs-12.col-md-6
                            .row
                                .col-xs-12.date
                                    h4.
                                        #[small="Fevereiro"] 2011
                                    strong.
                                         -
                                    h4.
                                        #[small="Dezembro"] 2013
                            .row
                                .col-xs-12.name
                                    h4.
                                        Instituto Federal Farroupilha
                                        #[small="Técnico em Informática"]
                        .col-xs-12.col-md-6.description
                            p Desenvolve programas de computador, seguindo as especificações e paradigmas da lógica de programação e das linguagens de programação. Utiliza ambientes de desenvolvimento de sistemas, sistemas operacionais e banco de dados.
            .row
                .col-xs-12.item
                    .row
                        .col-xs-12.col-md-6
                            .row
                                .col-xs-12.date
                                    h4.
                                        #[small="Agosto"] 2014
                                    strong.
                                         -
                                    h4.
                                        #[small=""] Atual
                            .row
                                .col-xs-12.name
                                    h4.
                                        Universidade Federal de Santa Maria
                                        #[small="Bacharelado em Sistemas de Informação"]
                        .col-xs-12.col-md-6.description
                            p Qualifica para o projeto e construção de softwares e serviços computacionais e também para o uso de sistemas computadorizados em outras áreas da atividade humana, a fim de viabilizar ou aumentar a produtividade e a qualidade de todos os tipos de procedimentos.
        .col-xs-12.col-md-6
            h3.text-left.featured Trabalho
            .row
                .col-xs-12.item
                    .row
                        .col-xs-12.col-md-6
                            .row
                                .col-xs-12.date
                                    h4.
                                        #[small="Fevereiro"] 2015
                                    strong.
                                         -
                                    h4.
                                        #[small=""] Atual
                            .row
                                .col-xs-12.name
                                    h4.
                                        Universidade Federal de Santa Maria
                                        #[small="Desenvolvedor web"]
                        .col-xs-12.col-md-6.description
                            p Desenvolve juntamente a uma equipe, um sistema de gestão e agregação de informações para o hospital universitário de Santa Maria. Onde Médicos e servidores da universidade fazem uso para automação de tarefas que antes eram totalmente no papel.