header.heading#home
    .heading-content
        nav.navbar.navbar-default
            .container.animated
                .navbar-header
                    a.navbar-brand(href="/", title="Alex Rohleder")="ALEXROHLEDER"
                .navbar-collapse.collapse
                    ul.navbar-nav.navbar-right.nav
                        li.active: a.b(href="#home", title="Você esta aqui :)")="Início"
                        li: a.b(href="#about", title="Deixe que me apresente brevemente")="Sobre"
                        li: a.b(href="#skills", title="Veja sobre as habilidades que possuo")="Habilidades"
                        li: a.b(href="#career", title="Descubra por onde passei até agora")="Resumo"
                        li: a.b(href="#services", title="Veja o que posso fazer para você")="Serviços"
                        li: a.b(href="#portfolio", title="Veja alguns dos meus últimos projetos")="Portfólio"
                        li: a(href="#contact", title="Entre em contato comigo")="Contato"
        .container.hero
            .row
                .jumbotron
                    h1.text-center.animated.
                        Desbrave a #[span.featured="internet"] e encontre um novo mercado #[span.featured="para o seu negócio"].
            .row
                .links.animated
                    a.featured(href="#contact", title="Entre em contato diretamente comigo através do site")
                        ="Entre em Contato"
                    a(href="https://www.facebook.com/profile.php?id=100003125443392", title="Me encontre no Facebook", target="_blank")
                        span.fa.fa-facebook
                    a(href="https://www.github.com/alexrohleder96", title="Veja alguns de meus projetos no Github", target="_blank")
                        span.fa.fa-github
                    a(href="mailto:alexrohleder96@outlook.com", title="Mande um e-mail para min")
                        span.fa.fa-envelope
                    a(href="https://www.linkedin.com/in/alexrohleder", title="Veja meu perfil no LinkedIn", target="_blank")
                        span.fa.fa-linkedin
                    a(href="tel+555581557066", title="Ligue diretamente para meu telefone")
                        span.fa.fa-phone
