
h2 Serviços
h1 QUE OFEREÇO

.row
    .carousel.slide#services-carousel
        ol.carousel-indicators
            li.active(data-target="#services-carousel", data-slide-to="0")
            li(data-target="#services-carousel", data-slide-to="1")
        .carousel-inner
            .item.active asodadkoaspdkaops
            .item huehuehue
        a.carousel-control.left(href="#services-carousel", data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
            span.sr-only previous
        a.carousel-control.right(href="#services-carousel", data-slide="next")
            span.glyphicon.glyphicon-chevron-right
            span.sr-only next

br
br

h6.
    Alguma dúvida sobre como tudo funciona ? Talvez você encontre a resposta nas #[a(href="/faq", target="_blank")="perguntas frequentementes"].
