extends ./template/_master

block content
    div(style="position: absolute; top: 50%; margin-top: -70px; font-weight: bold; letter-spacing: 0.1em; width: 100%; text-align: center")
        h2.text-center(style="margin: 5px 0; font-family: 'Montserrat', Arial;") 404
        h1.text-center(style="margin: 5px 0 20px; font-family: 'Satisfy', Cursive;") Página Não Encontrada
        p(style="font-weight: normal").
            #[a(href="/")="Voltar a Página Inícial"] - #[a(href="/#contact")="Contatar"]
