
h2 Sobre
h1 DETALHES PESSOAIS

.container
    .row
        .col-xs-12
            h3.featured Eu apresento a mais criativa e original das ideias aos meus clientes!
            p Olá, sou Alex Rohleder um apaixonado por desenvolvimento que a anos vem trilhando o caminho do programador atrás de novas descobertas e desafios. Atualmente na cidade de Santa Maria trabalho como um full stack web developer, com uma queda por desenvolvimento mobile e que desde o princípio mantem a paixão pelo mundo da programação e pondo seus clientes em primeiro lugar. Como profissional em constante atualização, portador de uma bagagem intelectual e prática procuro sempre entregar a solução mais eficaz e fiel aos desejos do cliente, sempre com seu funcionamento 100% e uma ótima assistência pós entrega.
            .row
                .col-xs-12.col-md-4
                    .thumbnail.icon
                        .icon-wrapper
                            i.fa.fa-heart
                        .caption
                            h3 Perfeccionismo
                            p Cada linha de código, cada funcionalidade e cada detalhe são tratados separadamente e especialmente por min. Analiso e se necessário refaço, sempre buscando a mais simples, eficaz e semântica solução para cada um dos casos.
                .col-xs-12.col-md-4
                    .thumbnail.icon
                        .icon-wrapper
                            i.fa.fa-flash
                        .caption
                            h3 Agilidade
                            p Prazos não são metas, são limites. Procuro sempre priorizar as tarefas e projetos, me mantendo sempre organizado e focado para atingir os objetivos de forma mais eficaz.
                .col-xs-12.col-md-4
                    .thumbnail.icon
                        .icon-wrapper
                            i.fa.fa-star
                        .caption
                            h3 Compromisso
                            p Um novo projeto se torna não só uma obrigação com o cliente, mas sim comigo mesmo. Gosto de entregar sempre o melhor resultado no prazo certo e com a melhor assistência possível, afinal meu nome será associado a seu desenvolvimento.
