h2 contato
h1 ENTRE EM CONTATO COMIGO

.container
    .row
        .col-xs-12
            p.
                Você pode me ligar pelo número #[a(href="tel:5581557066", title="Ligar")="(55) 8155-7066"] ou me contatar pelo e-mail #[a(href="mailto:alexrohleder96@outlook.com", title="Enviar um e-mail")="alexrohleder96@outlook.com"] ou se preferir preencher o formulário abaixo.
            p.
                Caso tenha alguma dúvida sobre como tudo funciona, você pode ver rapidamente a #[a(href="/faq", title="Descubra como tudo funciona")="seção de perguntas frequentes"].
            form.contact-form(autocomplete="off")#contact-form
                .inner
                    ol.questions
                        li
                            span: label(for="contact-name")="Qual seu nome?"
                            input(id="contact-name", name="contact-name", type="text")
                        li
                            span: label(for="contact-email")="E seu e-mail?"
                            input(id="contact-email", name="contact-email", type="email")
                        li
                            span: label(for="contact-message")="O que deseja?"
                            input(id="contact-message", name="contact-message", type="text")
                    .controls
                        button.next
                        .progress
                        span.number
                            span.number-current
                            span.number-total
                        span.error-message
                    button.submit
                h1.final-message
            p.text-center!="&copy;2015 Alex Rohleder Todos os Direitos Reservados"