extends ./template/_master

block content
    
    #content
        include _header
        
        .content
            main.container-fluid
                .row
                    section.col-xs-12#about
                        include _about
                .row
                    section.col-xs-12#skills
                        include _skills
                .row
                    section.col-xs-12#career
                        include _career
                //.row
                    section.col-xs-12#services
                        include _services
                //.row
                    section.col-xs-12#portfolio
                        include _portfolio
                .row
                    section.col-xs-12#contact
                        include _contact
